<div class="center portfolio-wrapper">
  
  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  <%= link_to @displayadtech do %>
    <div class="portfolio-item">
      <%= image_tag 'dat-landscape.png', :class => "flat-panel" %>
      <p class="center">
      
      </p>
    </div>
  <% end %>

  

</div>
